/**
Style pour les pièces noires.
*/

.pion-noir {
    background-image: url("noir-pion.gif");
    position: absolute;
}

.tour-noir {
    width: 10px;
    padding: 1rem;
    font-size:1.5rem ;
    height: 10px;
    display: block;
    border-radius: 50%;
    margin-top: 0.5rem;
    background-image: url("noir-tour.gif");
    position: absolute;

}

.cavalier-noir {
    background-image: url("noir-cavalier.gif");
    position: absolute;
}

.fou-noir {
    background-image: url("noir-fou.gif");
    position: absolute;
}

.roi-noir {
    background-image: url("noir-roi.gif");
    position: absolute;
}

.reine-noir {
    background-image: url("noir-reine.gif");
    position: absolute;
}


/**
Style pour les pièces blanches.
*/

.pion-blanc {
    background-image: url("blanc-pion.gif");
    position: absolute;
}

.tour-blanc {
    background-image: url("blanc-tour.gif");
    position: absolute;
}

.cavalier-blanc {
    background-image: url("blanc-cavalier.gif");
    position: absolute;
}

.fou-blanc {
    background-image: url("blanc-fou.gif");
    position: absolute;
}

.roi-blanc {
    background-image: url("blanc-roi.gif");
    position: absolute;
}

.reine-blanc {
    background-image: url("blanc-reine.gif");
    position: absolute;
}


/**
Style pour le plateau.
*/
body {
    margin: 30px;
    background-color: white;
}
.wrapper {
    border: 50px;
    width: 600px;
    margin: 0 auto;
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(8, 70px);
    grid-template-rows: 40px repeat(8, 70px) 40px;

}

.case {
    padding: 20px;
    font-size: 150%;
    background-color: #d9d9d9;
    text-align: center;
}

.top {
    grid-column-start: 1;
    grid-column-end: 9;
}


.case:nth-child(-2n+9),
.case:nth-child(9) ~ div:nth-child(-2n+16),
.case:nth-child(17) ~ div:nth-child(-2n+25),
.case:nth-child(25) ~ div:nth-child(-2n+32),
.case:nth-child(33) ~ div:nth-child(-2n+41),
.case:nth-child(41) ~ div:nth-child(-2n+48),
.case:nth-child(49) ~ div:nth-child(-2n+57),
.case:nth-child(57) ~ div:nth-child(-2n+64){
    background-color: black;

}