/**
Style pour les pièces noires.
*/

.pion-noir {
    background-image: url("noir-pion.gif");
    position: absolute;
}

.tour-noir {
    width: 10px;
    padding: 1rem;
    font-size:1.5rem ;
    height: 10px;
    display: block;
    border-radius: 50%;
    margin-top: 0.5rem;
    background-image: url("noir-tour.gif");
    position: absolute;

}

.cavalier-noir {
    background-image: url("noir-cavalier.gif");
    position: absolute;
}

.fou-noir {
    background-image: url("noir-fou.gif");
    position: absolute;
}

.roi-noir {
    background-image: url("noir-roi.gif");
    position: absolute;
}

.reine-noir {
    background-image: url("noir-reine.gif");
    position: absolute;
}


/**
Style pour les pièces blanches.
*/

.pion-blanc {
    background-image: url("blanc-pion.gif");
    position: absolute;
}

.tour-blanc {
    background-image: url("blanc-tour.gif");
    position: absolute;
}

.cavalier-blanc {
    background-image: url("blanc-cavalier.gif");
    position: absolute;
}

.fou-blanc {
    background-image: url("blanc-fou.gif");
    position: absolute;
}

.roi-blanc {
    background-image: url("blanc-roi.gif");
    position: absolute;
}

.reine-blanc {
    background-image: url("blanc-reine.gif");
    position: absolute;
}


/**
Style pour le plateau.
*/
body {
    margin: 30px;
    background-color: white;
}
.wrapper {
    border: 40px;
    width: 600px;
    margin: 0 auto;
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(8, 70px);
    grid-template-rows: repeat(8, 70px);

}

.case {
    font-size: 150%;
    background-color: #d9d9d9;
    text-align: center;
}

#gameInfo {
    width: 550px;
    height: 175px;
    margin: 0 auto;
    border: 2px solid black;
}


#info {  
    margin: 5px;  
    font-size: 1.5em;  
    height: 30px;  
    background-color: #aaccbb;  
    text-align: center; 
} 

#score {
    margin: 5px;  
    font-size: 1.5em;  
    height: 30px;    
    background-color: #aaccbb;  
    border-radius: 5px;  
    text-align: center; 
}


.scoreJ1 {
    font-size: larger;
    font-weight: 600;
    color: blue;
    float: left;
    margin-top: 5px;
    margin-left: 100px;
}

.scoreJ2 {
    font-size: larger;
    font-weight: 600;
    float: right;
    color: red;
    margin-top: 5px;
    margin-right: 100px;
}

#rejouer {
    clear: both;
    text-align: left;
    margin-top: 10px;
    margin-left: 28px;
}
 
#clearScore {
    clear: both;
    text-align: right;
    margin-top: 10px;
    margin-left: 200px;

}

.button {
    display: inline-block;
    background-color: #7b38d8;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 1.2em;
    padding: 10px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}


.case:nth-child(1),
.case:nth-child(1) ~ div:nth-child(-2n+7),
.case:nth-child(9) ~ div:nth-child(-2n+16),
.case:nth-child(16) ~ div:nth-child(-2n+23),
.case:nth-child(24) ~ div:nth-child(-2n+32),
.case:nth-child(31) ~ div:nth-child(-2n+39),
.case:nth-child(40) ~ div:nth-child(-2n+48),
.case:nth-child(48) ~ div:nth-child(-2n+55),
.case:nth-child(56) ~ div:nth-child(-2n+64){
    background-color: black;

}