/**
Style pour les pièces noires.
*/

.pion-noir {
    background-image: url("noir-pion.gif");
}

.tour-noir {
    background-image: url("noir-tour.gif");

}

.cavalier-noir {
    background-image: url("noir-cavalier.gif");
}

.fou-noir {
    background-image: url("noir-fou.gif");
}

.roi-noir {
    background-image: url("noir-roi.gif");
}

.reine-noir {
    background-image: url("noir-reine.gif");
}


/**
Style pour les pièces blanches.
*/

.pion-blanc {
    background-image: url("blanc-pion.gif");
}

.tour-blanc {
    background-image: url("blanc-tour.gif");
}

.cavalier-blanc {
    background-image: url("blanc-cavalier.gif");
}

.fou-blanc {
    background-image: url("blanc-fou.gif");
}

.roi-blanc {
    background-image: url("blanc-roi.gif");
}

.reine-blanc {
    background-image: url("blanc-reine.gif");
}


/**
Style pour le plateau.
*/
body {
    margin: 30px;
    background-color: white;
}
.wrapper {
    border: 40px;
    width: 600px;
    margin: 0 auto;
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(8, 70px);
    grid-template-rows: repeat(8, 70px);

}

.case {
    font-size: 150%;
    background-color: #d9d9d9;
    background-size: cover;
    text-align: center;
}

.selectedRed{
    caret-color: firebrick;
    column-rule-color: firebrick;
    flood-color: firebrick;
    solid-color: firebrick;
    border-block-color: firebrick;
    background-color: firebrick;
    border-width: 10px;

}



.selectedBlue{
    background-color: royalblue;
    border-width: 10px;
}

#gameInfo {
    width: 550px;
    height: 175px;
    margin: 0 auto;
    border: 2px solid black;
}


#info {  
    margin: 5px;  
    font-size: 1.5em;  
    height: 30px;  
    background-color: #aaccbb;  
    text-align: center; 
} 

#score {
    margin: 5px;  
    font-size: 1.5em;  
    height: 30px;    
    background-color: #aaccbb;  
    border-radius: 5px;  
    text-align: center; 
}


.scoreJ1 {
    font-size: larger;
    font-weight: 600;
    color: blue;
    float: left;
    margin-top: 5px;
    margin-left: 100px;
}

.scoreJ2 {
    font-size: larger;
    font-weight: 600;
    float: right;
    color: red;
    margin-top: 5px;
    margin-right: 100px;
}

#button

#rejouer {
    clear: both;
    text-align: left;
    margin-top: 10px;
    margin-left: 28px;
}
 
#clearGame {
    clear: both;
    text-align: right;
    margin-top: 10px;
    margin-left: 200px;

}

.button {
    display: inline-block;
    background-color: #7b38d8;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 1.2em;
    padding: 10px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}



.case:nth-child(1) ~ .case:nth-child(-2n+8),
.case:nth-child(8) ~ .case:nth-child(-2n+15),
.case:nth-child(16) ~ .case:nth-child(-2n+24),
.case:nth-child(24) ~ .case:nth-child(-2n+31),
.case:nth-child(32) ~ .case:nth-child(-2n+40),
.case:nth-child(40) ~ .case:nth-child(-2n+47),
.case:nth-child(48) ~ .case:nth-child(-2n+56),
.case:nth-child(56) ~ .case:nth-child(-2n+63){
    background-color: #595959;
}